$black: #000;
$cmwn: #30a0ed;

* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    width: 100%;
}

.frame-wrapper {
    display: block;
    position: relative;
    margin: 0 auto;
    border: 3px dotted $black;
    width: 90vw;
    max-width: 150vh;
}

.inner-frame-wrapper {
    position: relative;
    padding-top: 56.25%;
    width: 100%;
}

#frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#reload {
    width: 9%;
}

input,
button {
    display: inline-block;
    border: 2px solid $black;
    background-color: $cmwn;
    padding: 2px 5px;
    font-size: 20px;
}

/* scss-lint:disable VendorPrefix PseudoElement */
::-webkit-input-placeholder { /* Chrome */
    opacity: 1;
    color: $black;
}

:-ms-input-placeholder { /* IE 10+ */
    opacity: 1;
    color: $black;
}

::-moz-placeholder { /* Firefox 19+ */
    opacity: 1;
    color: $black;
}

:-moz-placeholder { /* Firefox 4 - 18 */
    opacity: 1;
    color: $black;
}
/* scss-lint:disable VendorPrefix PsuedoElement */

#input {
    width: 90%;
}

.buttons {
    margin: 10px auto;
    width: 90%;
}

#output {
    margin: 0 auto;
    background-color: $cmwn;
    padding: 5px;
    width: 90%;
    height: 180px;
    overflow: scroll;
}
